<div class="d-flex justify-content-between bd-highlight mb-3">
    <div class="p-2">
        <button (click)="goBack()" class="btn btn-outline-secondary btn-lg px-4">Go
            Back</button>
    </div>
</div>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Your Recipe Shopping List</h1>
            <p class="lead text-muted">Here you find all your recipes that you want to shop.</p>
            <p *ngIf="!recipeShopList?.length" class="lead text-danger">Your shopping list is <strong>empty</strong></p>
        </div>
    </div>
</section>

<div class="row" *ngIf="recipeShopList?.length">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" *ngFor="let recipeItem of recipeShopList">
                <app-recipe-shop-item [recipeItem]="recipeItem" (remove)="removeRecipe($event)">
                </app-recipe-shop-item>
            </div>
        </div>
    </div>
</div>